<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Todos los Usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Todos los Usuarios</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-avatar slot="start">
        <div class="user-avatar">
          {{ user.name.charAt(0) }}
        </div>
      </ion-avatar>
      <ion-label>
        <h2>{{ user.name }}</h2>
        <p>{{ user.role }}</p>
        <p *ngIf="user.email">{{ user.email }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
